
    <div
      class="d-flex justify-content-center align-items-center"
      style="height: 100vh; background-color: #f2f2f2"
    >
      <form class="needs-validation card" id="form" novalidate>
        <div class="card-body">
          <h5>Recuperar contraseña</h5>
          <br />
          <div id="step-1" [formGroup]="recoverPasswordForm">
            <div class="form-group">
              <label for="newPassword">email </label>
              <input
                type="email"
                class="form-control"
                formControlName="email"
                required
              />
            </div>
           
           
            <br />
            <div class="d-flex justify-content-center">
              <button
                type="submit"
                class="w-100 btn btn-primary"
                id="submitBtn"
                (click)="recoverPassword()"
              >
                Confirmar
              </button>
            </div>
          </div>
         
        </div>
      </form>
    </div>
    